<%= simple_form_for @match, url: match_path, method: :post do |f| %>
  <div class="form-inputs">
    <div class="row">
      <%= f.error_notification %>
      <div class="col-md-5">
        <%= f.input :member1, collection: @members, label_method: :full_name_and_rank, include_blank: false, include_hidden: false %>
      </div>

      <div class="col-md-2 vs_text">VS</div>

      <div class="col-md-5">
        <%= f.input :member2, collection: @members, label_method: :full_name_and_rank, include_blank: false, include_hidden: false %>
      </div>

      <%= f.input :result, collection: [['Member 1 Won', 'member1_wins'],['Member 2 Won', 'member2_wins'] , ['Draw', 'draw']], include_blank: false, include_hidden: false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add Match', class: 'btn btn-success my-2' %>
  </div>
<% end %>