<!DOCTYPE html>
<html>
  <head>
    <title>ChessClubAdministration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--    before link tag to prevent bootstrap styles over riding custom styles-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="text-center">
      <i class="fas fa-chess-rook"></i>
      Anvil Chess Club
      <i class="fas fa-chess-rook"></i>
    </h1>

    <div class="text-center">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Members', members_path %>
    </div>

    <hr>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
