<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Games Played</th>
      <th scope="col">Email</th>
      <th scope="col">Birthday</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <th scope="row"><%= member.current_rank %></th>
        <td><%= member.name %></td>
        <td><%= member.surname %></td>
        <td><%= member.games_played %></td>
        <td><%= member.email %></td>
        <td><%= member.birthday %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Member', new_member_path, class: "btn btn-success" %>